.chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-top: 20px;
}

.large-text .prod-usage, .large-text .line-container, .large-text .label, .large-text .chart, .large-text .h1 {
    font-size: 30px;
}

.line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.line {
    height: 10px;
    background-color: blue;
    position: relative;
}

.line-label {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.label {
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
}
