@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.translate {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
}

.cust-top-bar button {
    background-color: #800000;
    font-family: "Chakra Petch", sans-serif;
}
.cust-top-bar button:hover {
    background-color: #9d3e3e;
    color: gold;
    font-family: "Chakra Petch", sans-serif;
}

.cust-top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
}

.cust-user-info span {
    margin-right: 10px;
}
