@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.top-bar button {
    background-color: #800000;
    font-family: "Chakra Petch", sans-serif;
}
.top-bar button:hover {
    background-color: rgb(157, 62, 62);
    color: gold;
    font-family: "Chakra Petch", sans-serif;
}

.large-text .top-bar button {
    font-size: 40px;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
}

.user-info span {
    margin-right: 10px;
}
.large-text .user-info span {
    font-size: 40px;
}

