@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.employee-table {
    width: 100%; /* Set the table width */
    table-layout: fixed;
    border-collapse: collapse; 
}

.employee-table td {
    border: 1px solid #a2a2a2; 
}

.employee-table th {
    border: 1px solid #a2a2a2; 
    background-color: #f2f2f2;
}

.employee-adjust {
    text-align: center;
    margin: 5px;
}

.cart-button {
    font-family: "Chakra Petch", sans-serif;
    margin: 5px 10px;
    background-color: #077a8e;
    color: #fff;
}