table {
    border-collapse: collapse; /* Collapse border spacing */
    width: 100%; /* Set the table width */
}

td {
    border: 1px solid transparent; 
    padding: 18px;
    text-align: left; 
    font-weight: 600;
}

th {
    border: 1px solid transparent; 
    background-color: #f2f2f2;
}

.large-text .cart {
    font-size: 40px;
}

.large-text .cart button {
    font-size: 40px;
}

.quantity {
    text-align: center;
}

.adjust {
    text-align: center;
}

.minus {
    margin: 5px;
    width: 40%;
}

.plus {
    margin: 5px;
    width: 40%;
}

.delete {
    margin: 5px;
}

.tfoot .td{
    font-weight: 1000 !important;
}