/* Ordering.css */

.large-text {
    font-size: 40px;
}

.employee {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 24px;
}

.employee button {
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
    font-family: "Chakra Petch", sans-serif;
}

.employee button:hover {
    background-color: rgb(157, 62, 62);    
    color: gold;
    font-family: "Chakra Petch", sans-serif;
}