/* Ordering.css */

.employee {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 24px;
}

.employee-button {
    background-color: #005bbd;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
}

.employee-button:hover {
    background-color: rgb(0, 69, 142);
}