@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.top-bar {
    font-family: "Chakra Petch", sans-serif;
    background-color: #121212; /* Darker background color */
    color: #ffffff; /* White text color */
    padding: 15px 25px; /* Increased padding for better spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444; /* Bottom border for separation */
}

.top-bar-button {
    font-family: "Chakra Petch", sans-serif;
    background-color: #1e88e5; /* Darker blue button color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px; /* Increased padding */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin: 0 auto;
}

.user-info {
    width: 200px; /* Fixed width */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-button:hover {
    background-color: #1565c0; /* Darker hover color */
}
