/* Base styles */
.manager-inventory {
    position: fixed;
    font-family: "Chakra Petch", sans-serif;
    padding: 0 20px;
    color: #000000;
    top: 10%;
    overflow-y: auto;
    max-height: 90%;
    left:0;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: left;
}

.manager-restock {
    position:fixed;
    left: 15%;
}

/* Inventory details styles */
.inventory-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: fixed;
    left: 77%;
    width: 18%;
    max-height: 90%;
    overflow-y:auto;
}

/* Selected item styles */
.selected-item {
    margin-top: 20px;
}

.selected-item div {
    margin-bottom: 15px;
}

.selected-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.selected-item input {
    width: 95%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Buttons */
.manager-inventory button {
    padding: 10px 20px;
    background-color: hsl(189, 91%, 29%);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0px 10px;
    font-family: "Chakra Petch", sans-serif;
}

.manager-inventory button:hover {
    background-color: #0056b3;
}

/* New ingredient styles */
.new-ingredient {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 55%;
    width: 18%;
    padding: 10px;
    max-height:80%;
    overflow-y:auto;
}

.new-ingredient-user {
    margin-bottom: 15px;
}

.new-ingredient-user label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.new-ingredient-user input {
    width: 95%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Inventory list styles */
.inventory-list {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    display:flex;
    flex-direction: column;
}

.ingredient-name {
    text-decoration: underline;
    font-weight: bold;
}

.inventory-item {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 5px;
    padding: 7px;
}

.manager-inventory.high-contrast,
.manager-restock.high-contrast *,
.inventory-details.high-contrast,
.inventory-list.high-contrast,
.new-ingredient.high-contrast *:not(img) {
    color: #ffffff;
    background-color: #000000;
}

.manager-inventory.high-contrast button,
.inventory-details.high-contrast button {
    outline: 2px solid white;
}