/* Base styles */
.manager-trends {
    position: fixed;
    font-family: "Chakra Petch", sans-serif;
    padding: 0 20px;
    color: #000000;
    top: 10%;
    overflow-y: auto;
    max-height: 90%;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 500px;
}

.generate-trend-buttons button {
    border-style: none;
    border-radius: 1rem;
    background-color: #077a8e;
    color: white;
    padding: 1em;
    margin: 1em;
    font-family: "Chakra Petch", sans-serif;
}

/* Trend buttons container */
.trend-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Trend button styles */
.trends-button {
    font-family: "Chakra Petch", sans-serif;
    background-color: #077a8e;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 1rem;
}

.trends-button:hover {
    background-color: #2846c1;
}

.trendsTitle {
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    color: #000000;
}

/* Add high contrast styles */
.trends.high-contrast,
.trends.high-contrast *,
.manager-trends.high-contrast,
.manager-trends.high-contrast *:not(img) {
    color: #ffffff;
    background-color: #000000;
}

.manager-trends.high-contrast .trendsTitle {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

.trends.high-contrast button{
    border: 3px solid white;
}
