html body {
    padding: 0;
    margin: 0;
}

.LoginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(79, 0, 0);
    background-image: url('loginBackground.jpg');
    background-size: cover;
}

.LoginTitle {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
}

.LoginScreen form {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Updated box shadow */
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: center; /* Horizontally center */
    align-items: center;
}

.userinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%; /* Make input fields take full width */
}

.LoginScreen label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.loginButton,
.googleLoginButton {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}

.LoginScreen button[type="submit"],
.LoginScreen button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.LoginScreen button[type="submit"]:hover,
.LoginScreen button:hover {
    background-color: #0056b3;
}