/* ManagerTab.css */

.manager-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-info span {
    margin-right: 10px;
}


.middle-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.large-text .middle-content h1 {
    font-size: 80px;
}

.large-text .top-bar button,
.large-text .bottom-nav button {
    font-size: 24px;
}

.middle-content h1 {
    font-size: 36px;
}


