@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.confirm-popup {
    font-family: "Chakra Petch", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-popup-inner {
    position: relative;
    padding: 30px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}

.confirm-popup-inner .close {
    position: absolute;
    top: 16px;
    right: 16px;
}

/* .confirm-button {
    background-color: #005bbd;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 24px;
} */

.confirm-popup-inner .close {
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: .5em;
    cursor: pointer;
    font-size: 1em;
}

.confirm-popup .close:hover {
    background-color: #9d3e3e;
	color: gold;
}

.confirm-popup-inner .confirm {
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: .5em;
    cursor: pointer;
    font-size: 1em;
}

.confirm-popup .confirm:hover {
    background-color: #9d3e3e;
	color: gold;
}

.label {
    padding: 10px;
}

.prompt {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}